body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
    color: rgb(1, 65, 128);
}

.imageblock img {
    max-width: 100%;
    height: auto;
}

.navbar-logo {
    height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(89, 75, 49);
    font-variant: small-caps;
}

.navbar-light .navbar-nav .nav-link:active {
    color: rgb(37, 26, 6);
}

.container-fluid.header {
    border-bottom: solid 1px rgb(222, 212, 196);
    margin-bottom: 1px;
}

.content-home, .container-fluid.content, .error {
    border-top: solid 1px rgb(222, 212, 196);
    background: rgb(244,233,215);
    color: rgb(64, 55, 37);
    color: rgba(64, 55, 37, .8);
}

.testimonials-home, .banner {
    background: rgb(37, 26, 6);
    border-bottom: solid .5em rgb(244, 233, 215);
    color: rgba(255, 255, 255, .8);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.testimonials-home {
    margin-top: 5rem;
}

.content-home h1, .testimonials-home h1, .content h1, .banner h1, .content2 h1 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: .3em 0 .5em 0;
}

.content h2 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
}

.pillars h1, .strategies h2 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.strategies h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(244,233,215);
    color: rgba(244,233,215,.8);
    padding-bottom: 0;
    margin-bottom: 0;
}

.pillars .card {
    background: rgb(37, 26, 6);
    color: rgba(255, 255, 255, .8);
    line-height: 1.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.strategies .card {
    background: transparent;
    border-color: transparent;
}

.pillars .card .icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.values-home, .content2 {
    line-height: 1.75rem;
    color: rgb(64, 55, 37);
    color: rgba(64, 55, 37, .8);
    margin-top: 5rem;
}

.values-home h2, .values-home h3, .content2 h2, .content2 h3 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}

.values-home h3, .content section .emphasis, .content2 section .emphasis {
    color: rgba(64,55,37,.5);
    font-style: italic;
}

.values-home .value {
    font-weight: bold;
}

.testimonials-home a {
    color: rgba(221, 207, 180, .6);
}

.testimonials-home .testimonial {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.testimonial img {
    border: solid 4px rgba(255, 255, 255, .8);
    max-width: 100px;
    margin-bottom: 2rem;
}

.testimonial p {
    padding-left: 10rem;
    padding-right: 10rem;
}

.content-home .description, .social-home .blog, .footer-title, .footer-address, .footer-copyright, .content .main, .sidebar {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-right: 2.1875em;
    padding-left: 2.1875em;
}

.content-home .description p {
    line-height: 1.75rem;
}

.content .row {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.content2 {
    color: rgb(64, 55, 37);
    color: rgba(64, 55, 37, .8);
    margin-bottom: 5rem;
}

.founder {
    padding-left: 4rem;
    padding-right: 4rem;
}

.founder .card {
    border: none;
}

.founder .card-title {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1.5rem;
}

.founder .card-subtitle {
    margin-top: 1rem;
}

.content .main .p.intro {
    font-size: 1.1em;
}

.content .main p.about-intro:before {
    padding: 0;
    float: left;
    display: block;
    content: "";
    border: none;
    width: 7.875em;
    height: 9.125em;
    background: transparent url('../images/avatar.jpg') no-repeat center center;
    background-size: cover;
    margin: .3125em 1.125em .3125em 0;
}

.footer {
    margin-top: 2em;
    border-top: rgb(222, 212, 196) 1px solid;
}

.footer-title h2 {
    color: rgba(131, 115, 85, .4);
    font-size: 1em;
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.footer-address p, .footer-copyright p {
    color: rgba(131, 115, 85, .4);
    font-size: .8em;
    margin-bottom: 0;
}

.footer-copyright a {
    color: rgb(89, 75, 49);
    border-bottom: dotted 1px rgb(89, 75, 49);
}

.footer-copyright a:hover {
    color: rgb(37, 26, 6);
    text-decoration: none;
    border-bottom-style: solid;
}

.main {
    border-bottom: solid 1px rgb(210, 193, 166);
}

.sidebar {
    border-top: solid 1px rgb(255, 255, 255);
    padding: 2.25em 2em 2.25em 2.25em;
}

.sidebar h1 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: .1em;
    padding: 0 0 .5em 0;
}

.sidebar .contact dl {
    padding: .25em 0 .25em 0;
    line-height: 1.5em;
}

.sidebar .contact dt {
    clear: right;
    font-variant: small-caps;
    font-weight: normal;
}

.sidebar .contact dd {
    clear: right;
    padding-left: 1em;
}

.sidebar .contact {
    padding-bottom: 1em;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar .blog li {
    border-bottom: dotted 1px rgb(89, 75, 49);
    padding: .25em 0 .25em 0;
}

.blog article h1 {
    font-size: 1.5em;
}

.blog article aside {
    font-size: .75em;
}

.blog article {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px rgb(210, 193, 166);
}

.blog article:last-of-type {
    border-bottom: none;
}

.blog article h1::before {
    padding: 0 0 .25em 0;
    border: none;
    content: attr(data-postdate);
    font-size: .6em;
    line-height: 1.25em;
    float: left;
    clear: both;
    width: 100%;
    color: rgba(64, 55, 37, .5);
}

.blog h2, .blog #toctitle {
    font-size: 1.35em;
    line-height: 2.125em;
}

.blog h3 {
    font-size: 1.25em;
    line-height: 2em;
}

.blog code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #fff;
}

.blog pre {
    overflow: auto;
    white-space: pre;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: .75em;
    line-height: 1.25em;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 4px;
}

.listingblock .title {
    font-size: .875em;
    font-style: italic;
    line-height: 1em;
    padding-left: 4px;
}

section.notfound {
    background: transparent url('../images/404.png') no-repeat center top;
    color: rgb(64,55,37);
    color: rgba(64,55,37,.8);
    padding-top: 13.5em;
}

section.notfound h1 {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

section.notfound p {
    text-align: center;
    line-height: 1.5em;
}

.blog article .admonitionblock .title {
    font-weight: bold;
    padding-right: 1em;
}

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .has-pullquote::before {
        padding: 0;
        border: none;
        content: attr(data-pullquote);
        float: left;
        width: 11.25em;
        margin: 0 1.25em .75em 0;
        font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        line-height: 1.25;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-logo {
        height: 50px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgb(89, 75, 49);
        border-bottom: dotted 1px rgb(89, 75, 49);
        font-variant: small-caps;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: .1rem;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        border-bottom-style: solid;
    }

    .navbar-light .navbar-nav .nav-link:active {
        color: rgb(37, 26, 6);
        border-style: none;
    }

    .content-home .row, .social-home .row, .footer .row, .content .row {
        margin-left: .05em;
        margin-right: .05em;
    }

    .content-home .description, .social-home .blog, .footer .footer-title, .content .main {
        padding-left: 4.95rem;
    }

    .content-home .background-front {
        background: transparent url('../images/background-992.png');
        background-size: cover;
        background-position-y: 0%;
        background-position-x: 0%;
        min-height: 400px;
        padding-left: 500px;
    }

    .pillars {
        margin-top: -20px;
    }


    .pillars .card-deck .card {
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
    }

    .pillars .card-deck {
        display: flex;
    }

    .pillars .pillar {
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-home h2 {
        margin-left: .875em;
    }

    .social-home .blog ul {
        margin-left: 1.125em;
    }

    .social-home .twitter {
        display: block;
        margin-top: 2em;
    }

    .twitter blockquote {
        position: relative;
        color: #000;
        background: #fff;
        border-radius: .4em;
        padding: 1em;
        margin: 0;
    }

    .twitter blockquote p {
        font-size: .875em;
        margin-bottom: 0;
    }

    .twitter blockquote:after {
        content: '';
        position: absolute;
        top: 0;
        left: 70%;
        width: 0;
        height: 0;
        border: .46em solid transparent;
        border-bottom-color: #fff;
        border-top: 0;
        margin-left: -.46em;
        margin-top: -.46em;
    }

    .twitter blockquote .time {
        color: rgb(150, 142, 124);
    }

    .twitter a.follow {
        display: block;
        color: #fff;
        margin: .4em;
        font-size: .875em;
    }

    .twitter a.follow:before {
        content: "";
        display: block;
        background: url("../images/twitter.svg") no-repeat;
        background-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
        float: left;
        margin-right: .5em;
    }

    .sidebar {
        border-top: none;
        border-left: solid 1px rgb(210, 193, 166);
    }

    .sidebar p {
        font-size: .875em;
    }

    .sidebar ul {
        font-size: .875em;
    }

    .main {
        border-bottom: none;
        border-right: solid 1px rgb(255, 255, 255);
    }

    .has-pullquote::before {
        margin-left: -3.4615em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content-home .background-front {
        background: transparent url('../images/background-1200.png');
        padding-left: 600px;
    }

    .content-home h1 {
        font-size: 2.5rem;
    }
}