<%include "head.gsp"%>
<%include "menu.gsp"%>

<%include "home.gsp"%>
<%include "pillars.gsp"%>
<%include "values.gsp"%>
<%include "testimonials.gsp"%>
<%include "geniusfish.gsp"%>

<%include "footer.gsp"%>
<%include "tail.gsp"%>