<% include "head.gsp" %>
<% include "menu.gsp" %>

<% include "leadership-partner.gsp" %>
<% include "technology-advisor.gsp" %>
<% include "software-craftsman.gsp" %>

<% include "footer.gsp" %>
<% include "tail.gsp" %>