<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
       style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                   style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr>
                                <td class="sc-TOsTZ kjYrri" style="text-align: center;"><img
                                        src="https://innovenso.com/signatures/innovenso/jurgen-2021-square.jpg"
                                        role="presentation" width="130" class="sc-cHGsZl bHiaRe"
                                        style="max-width: 128px; display: block;"></td>
                            </tr>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td class="sc-TOsTZ kjYrri" style="text-align: center;"><img
                                        src="https://innovenso.com/images/email-logo.png" role="presentation"
                                        width="130" class="sc-cHGsZl bHiaRe" style="max-width: 130px; display: block;">
                                </td>
                            </tr>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
                                        <tbody>
                                        <tr style="text-align: center;">
                                            <td><a href="https://twitter.com/innovenso1" color="#08888c"
                                                   class="sc-hzDkRC kpsoyz"
                                                   style="display: inline-block; padding: 0px; background-color: rgb(8, 136, 140);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png"
                                                    alt="twitter" color="#08888c" height="24" class="sc-bRBYWo ccSRck"
                                                    style="background-color: rgb(8, 136, 140); max-width: 135px; display: block;"></a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            <td><a href="https://www.linkedin.com/in/jurgenlust/" color="#08888c"
                                                   class="sc-hzDkRC kpsoyz"
                                                   style="display: inline-block; padding: 0px; background-color: rgb(8, 136, 140);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png"
                                                    alt="linkedin" color="#08888c" height="24" class="sc-bRBYWo ccSRck"
                                                    style="background-color: rgb(8, 136, 140); max-width: 135px; display: block;"></a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            <td><a href="https://www.instagram.com/judgejurgen/" color="#08888c"
                                                   class="sc-hzDkRC kpsoyz"
                                                   style="display: inline-block; padding: 0px; background-color: rgb(8, 136, 140);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png"
                                                    alt="instagram" color="#08888c" height="24" class="sc-bRBYWo ccSRck"
                                                    style="background-color: rgb(8, 136, 140); max-width: 135px; display: block;"></a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="46">
                        <div></div>
                    </td>
                    <td style="padding: 0px; vertical-align: middle;"><h3 color="#251a06" class="sc-fBuWsC eeihxG"
                                                                          style="margin: 0px; font-size: 18px; color: rgb(37, 26, 6);">
                        <span>Jurgen</span><span>&nbsp;</span><span>Lust</span></h3>
                        <p color="#251a06" font-size="medium" class="sc-fMiknA bxZCMx"
                           style="margin: 0px; color: rgb(37, 26, 6); font-size: 14px; line-height: 22px;"><span>IT Leadership Partner - Architect - Master Software Craftsman</span>
                        </p>
                        <p color="#251a06" font-size="medium" class="sc-dVhcbM fghLuF"
                           style="margin: 0px; font-weight: 500; color: rgb(37, 26, 6); font-size: 14px; line-height: 22px;">
                            <span>Innovenso</span></p>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
                            <tbody>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td color="#8c834f" direction="horizontal" height="1" class="sc-jhAzac hmXDXQ"
                                    style="width: 100%; border-bottom: 1px solid rgb(140, 131, 79); border-left: none; display: block;"></td>
                            </tr>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr height="25" style="vertical-align: middle;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#8c834f" width="11"
                                                                                      class="sc-jlyJG bbyJzT"
                                                                                      style="display: block; background-color: rgb(140, 131, 79);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                                    color="#8c834f" width="13" class="sc-iRbamj blSEcj"
                                                    style="display: block; background-color: rgb(140, 131, 79);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(37, 26, 6);"><a href="tel:+32497508911"
                                                                                    color="#251a06"
                                                                                    class="sc-gipzik iyhjGb"
                                                                                    style="text-decoration: none; color: rgb(37, 26, 6); font-size: 12px;"><span>+32497508911</span></a>
                                </td>
                            </tr>
                            <tr height="25" style="vertical-align: middle;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#8c834f" width="11"
                                                                                      class="sc-jlyJG bbyJzT"
                                                                                      style="display: block; background-color: rgb(140, 131, 79);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                                    color="#8c834f" width="13" class="sc-iRbamj blSEcj"
                                                    style="display: block; background-color: rgb(140, 131, 79);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px;"><a href="mailto:jurgen@innovenso.com" color="#251a06"
                                                             class="sc-gipzik iyhjGb"
                                                             style="text-decoration: none; color: rgb(37, 26, 6); font-size: 12px;"><span>jurgen@innovenso.com</span></a>
                                </td>
                            </tr>
                            <tr height="25" style="vertical-align: middle;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#8c834f" width="11"
                                                                                      class="sc-jlyJG bbyJzT"
                                                                                      style="display: block; background-color: rgb(140, 131, 79);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                                    color="#8c834f" width="13" class="sc-iRbamj blSEcj"
                                                    style="display: block; background-color: rgb(140, 131, 79);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px;"><a href="//www.innovenso.com" color="#251a06"
                                                             class="sc-gipzik iyhjGb"
                                                             style="text-decoration: none; color: rgb(37, 26, 6); font-size: 12px;"><span>www.innovenso.com</span></a>
                                </td>
                            </tr>
                            <tr height="25" style="vertical-align: middle;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span color="#8c834f" width="11"
                                                                                      class="sc-jlyJG bbyJzT"
                                                                                      style="display: block; background-color: rgb(140, 131, 79);"><img
                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png"
                                                    color="#8c834f" width="13" class="sc-iRbamj blSEcj"
                                                    style="display: block; background-color: rgb(140, 131, 79);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px;"><span color="#251a06" class="sc-csuQGl CQhxV"
                                                                style="font-size: 12px; color: rgb(37, 26, 6);"><span>Houtbriel, 26, 9000 Gent, Belgium</span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="https://www.hubspot.com/email-signature-generator?utm_source=create-signature"
                           target="_blank" rel="noopener noreferrer" class="sc-gisBJw kDlVKO"
                           style="font-size: 12px; display: block; color: rgb(37, 26, 6);">Create Your Own Free
                            Signature</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>